@function rem($px) {
  @return $px/50+rem
}

@mixin bgi($img,$img1) {
  background-image: url($img);
  @media (-webkit-min-device-pixel-ratio: 3) {
    background-image: url($img1);
  }
}

#cont {
  display: flex;
  & > ul {
    font-size: rem(24);
    color: #000811;
    width: rem(160);
    background-color: #f3f5f7;
    li {
      height: rem(108);
      padding: 0 rem(24);
      display: flex;
      align-items: center;
      font-weight: 200;
      line-height: rem(28);
      border-bottom: 1px solid silver;
      & > span {
        span {
          display: inline-block;
          @include bgi('./img/special_3@2x.png', './img/special_3@3x.png');
          background-size: 100% 100%;
          width: rem(24);
          height: rem(24);
        }
      }
    }
    .a {
      background-color: white;
      font-weight: 500;
    }
  }
  & > div {
    flex-grow: 1;
    ul {
      li:nth-of-type(1) {
        border-left: 3px solid #d9dde1;
        background-color: #f3f5f7;
        font-size: rem(24);
        color: #8f9297;
        padding-left: rem(28);
        height: rem(52);
        line-height: rem(52);
      }
      li {
        & > div {
          border-bottom: 1px solid silver;
          background-color: white;
          margin: rem(36);
          margin-bottom: 0;
          padding-bottom: rem(36);
          display: flex;
          & > div:nth-of-type(1) {
            width: rem(114);
            height: rem(114);
            background-color: red;
            border-radius: rem(5);
            margin-right: rem(20);
          }
          & > div:nth-of-type(2) {
            flex-grow: 1;
            padding: rem(4) rem(36) rem(4) 0;
            & > p:nth-of-type(1) {
              font-size: rem(28);
              color: #050e1d;
            }
            & > p:nth-of-type(2) {
              font-size: rem(20);
              color: rgb(147, 153, 159);
              line-height: rem(20);
              margin: rem(16) 0;
            }
            & > p:nth-of-type(3) {
              font-size: rem(20);
              color: rgb(147, 153, 159);
              line-height: rem(20);
            }
            & > div:nth-of-type(1) {
              display: flex;
              justify-content: space-between;
              & > p:nth-of-type(1) {
                span:nth-of-type(1) {
                  display: inline-block;
                  font-size: rem(28);
                  color: red;
                  font-weight: 700;
                  line-height: rem(48);
                }
                span:nth-of-type(2) {
                  display: inline-block;
                  font-size: rem(20);
                  color: rgb(147, 153, 159);
                  font-weight: 700;
                  line-height: rem(48);
                  text-decoration: line-through;
                }
              }
              & > div:nth-of-type(1) {
                display: flex;
                text-align: center;
                margin-top: rem(15);
                p:nth-of-type(1), p:nth-of-type(3) {
                  width: rem(32);
                  height: rem(32);
                  border-radius: 50%;
                  border: rem(4) solid #00a4d7;
                }
                p:nth-of-type(1) {
                  line-height: rem(25);
                }
                p:nth-of-type(3) {
                  color: white;
                  background-color: #00a4d7;
                  line-height: rem(32);
                }
                p:nth-of-type(2) {
                  font-size: rem(20);
                  line-height: rem(48);
                  width: rem(48);
                  color: rgb(147, 153, 159);
                }
              }
            }
          }
        }
      }
      li:last-child, li:first-child {
        & > div {
          border: none;
        }
      }
    }
  }
}
